article {
  background-color: #22222266;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 1px 12px #333;
  h4 {
    font-size: 3rem;
  }

  div {
    img {
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
  h4,
  h5 {
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    margin: 1rem 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-grow: 1;

      p {
        margin: 0.5rem 0;
      }
    }
  }
}

@media screen and (min-width: 767.98px) {
  article {
    max-width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1023.98px) {
  article {
    max-width: 37.5%;
    margin: auto;
  }
}
