<article>
  <h3>{{ artist.strArtist }}</h3>
  <!-- <div><img [src]="artist.strArtistBanner" [alt]="artist.strArtist" /></div> -->
  <!-- <div><img [src]="artist.strArtistClearart" [alt]="artist.strArtist" /></div> -->
  <div *ngIf="artist.strArtistLogo">
    <img [src]="artist.strArtistLogo" [alt]="artist.strArtist" />
  </div>
  <!-- <div><img [src]="artist.strArtistThumb" [alt]="artist.strArtist" /></div> -->
  <!-- <div><img [src]="artist.strArtistWideThumb" [alt]="artist.strArtist" /></div> -->
  <summary>
    Biography
    <details>
      <p>{{ artist.strBiographyEN }}</p>
    </details>
  </summary>
  <p>From {{ artist.strCountry }}</p>
  <p>{{ artist.strGenre }}</p>
  <p>{{ artist.strMood }}</p>
  <p>{{ artist.strStyle }}</p>
  <p>{{ artist.strWebsite }}</p>
</article>
