<article>
  <h4>{{ artist.strArtist }}</h4>
  <!-- <div><img [src]="artist.strArtistBanner" [alt]="artist.strArtist" /></div> -->
  <!-- <div><img [src]="artist.strArtistClearart" [alt]="artist.strArtist" /></div> -->
  <div *ngIf="artist.strArtistLogo">
    <img [src]="artist.strArtistLogo" [alt]="artist.strArtist" />
  </div>
  <!-- <div><img [src]="artist.strArtistThumb" [alt]="artist.strArtist" /></div> -->
  <!-- <div><img [src]="artist.strArtistWideThumb" [alt]="artist.strArtist" /></div> -->
  <p>From {{ artist.strCountry }}</p>
  <p>Genre: {{ artist.strGenre }}</p>
  <p>Mood: {{ artist.strMood }}</p>
  <p>Style: {{ artist.strStyle }}</p>
  <p>{{ artist.strWebsite }}</p>
  <details>
    <summary>Biography</summary>
    <p>{{ artist.strBiographyEN }}</p>
  </details>
</article>
