<button (click)="toggleFilterForm()">
  {{ showFilterForm ? "Hide" : "Show" }} filters
</button>
<form *ngIf="showFilterForm" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <label for="releasedAfter">Released after:</label>
  <input
    type="number"
    step="1"
    min="0"
    [max]="afterMax"
    formControlName="releasedAfter"
    id="releasedAfter"
    name="releasedAfter"
    #releasedAfter
  />
  <button (click)="resetInput(releasedAfter.name)">Clear</button>
  <label for="releasedBefore">Released before:</label>
  <input
    type="number"
    step="1"
    min="0"
    [max]="beforeMax"
    formControlName="releasedBefore"
    id="releasedBefore"
    name="releasedBefore"
    #releasedBefore
  />
  <button (click)="resetInput(releasedBefore.name)">Clear</button>
  <label for="scoresAbove">Scores above:</label>
  <input
    type="number"
    step="1"
    min="1"
    max="9"
    formControlName="scoresAbove"
    id="scoresAbove"
    name="scoresAbove"
    #scoresAbove
  />
  <button (click)="resetInput(scoresAbove.name)">Clear</button>
  <label for="scoresBelow">Scores below:</label>
  <input
    type="number"
    step="1"
    min="2"
    max="10"
    formControlName="scoresBelow"
    id="scoresBelow"
    name="scoresBelow"
    #scoresBelow
  />
  <button (click)="resetInput(scoresBelow.name)">Clear</button>
  <button type="submit">Filter results</button>
</form>
