<h2>Enter an artist in the box below to search for them and their albums</h2>

<form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
  <label for="artist">Search for artist:</label>
  <input type="text" id="artist" formControlName="artist" />
  <!-- With temporary variable -->
  <!-- <input type="text" id="artist" formControlName="artist" #artist /> -->
  <button type="submit">Search</button>
  <!-- Using temportary variable -->
  <!-- <button type="button" (click)="searchArtists(artist.value)">
    Search artists
  </button> -->
</form>
<!-- Separate input for album searching -->
<!-- <section>
  <label for="album">Search for albums:</label>
  <input type="text" #album />
  <button type="button" (click)="searchAlbums(album.value)">
    Search albums
  </button>
</section> -->
<app-filter-dropdown
  *ngIf="albums"
  (newFilterAlbumsEvent)="filterAlbums($event)"
></app-filter-dropdown>
