article {
  background-color: #22222266;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 1px 12px #333;
  position: relative;

  h5 {
    font-size: 2.5rem;
  }

  div {
    img {
      display: block;
      max-width: 100%;
      margin: auto;
      cursor: pointer;
    }
  }

  .album-front {
    &.flipped {
      z-index: -1;
    }
  }

  .album-back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    z-index: -1;
    transform: translateZ(100%);

    &.flipped {
      z-index: 0;
      transform: translateZ(0%);
    }
  }

  h4,
  h5 {
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    margin: 1rem 0;
  }

  details {
    margin: 1rem 0;
  }
}
