<!-- Create two components -->
<!-- Dashboard -->
<!-- Profile -->
<!-- Route between them -->
<!-- Add them to the routes array in app-routing.module.ts -->
<!-- Creating router-links -->

<header>
  <h1>Stofipy</h1>
  <!-- <nav>
    <ul>
      <li><a routerLink="">Dashboard</a></li>
      <li><a routerLink="profile">Profile</a></li>
    </ul>
  </nav> -->
</header>

<!-- <app-app-child [list]="list" (newItemEvent)="addItem($event)"></app-app-child> -->

<app-search-box
  (newSearchArtistsEvent)="searchArtists($event)"
  (newFilterAlbumsEvent)="filterAlbums($event)"
  [albums]="albums"
></app-search-box>

<!-- display artists here -->
<main>
  <h3 *ngIf="artist">Artist</h3>
  <app-artist *ngIf="artist" [artist]="artist"></app-artist>
  <h3 *ngIf="albums">Albums</h3>
  <section>
    <app-album *ngFor="let album of albums" [album]="album"></app-album>
  </section>
</main>

<router-outlet></router-outlet>
