<!-- Create two components -->
<!-- Dashboard -->
<!-- Profile -->
<!-- Route between them -->
<!-- Add them to the routes array in app-routing.module.ts -->
<!-- Creating router-links -->

<header>
  <h1>Music Search</h1>
  <!-- <nav>
    <ul>
      <li><a routerLink="">Dashboard</a></li>
      <li><a routerLink="profile">Profile</a></li>
    </ul>
  </nav> -->
</header>

<!-- <app-app-child [list]="list" (newItemEvent)="addItem($event)"></app-app-child> -->

<app-search-box (newSearchEvent)="search($event)"></app-search-box>

<!-- display artists here -->

<router-outlet></router-outlet>
